/* Reset */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*, *::before, *::after{
    padding: 0;
    margin: 0;
}
/* Começando css */
.header{
    height: 4rem;
    background: rgb(54, 53, 53);
    display: flex;
    align-content:flex-end;
}
.header h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 1.5rem;
    align-self: center;
    text-align: center;
    width:100%;
}
h2{
    margin-bottom: 2rem;
}
main{
    display: flex;
    flex-direction: column;
}
.card{
    padding: 30px;
    border: 1px solid rgba(140, 143, 156, 0.274);
    
}
section{
    margin: 1rem;
}

section ul{
    list-style-type: none;
}
section ul li{
    color: #FFF;
    background: rgb(173, 51, 51);
    margin: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

p{
    margin-bottom: 1rem;
}
.display-f{
    display:flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-between;
}

.segunda-lista{
    list-style-type: disc;
}
.footer{
    margin: 5px;
    
    background: rgb(131, 127, 127);
    color: white;
    padding: 1rem;
    text-align: center;
    
}
.footer p {
    font-size: 1.2rem;

}
.footer p span{
    font-weight: bolder;
    text-decoration: underline;
}

@media(min-width: 500px){
    :root{
        font-size: 18px;
    }
    .header h1{
        text-align: right;
        align-self: flex-end;
    }
    main{
        flex-direction: row;
    }
    .display-f{
        flex-direction: row;
        margin-right: 4px;
    }
    section{
        width: 40%;
    }
    article{
        width:60%;
    }
    .display-f .left{
        width: 50%;
    }
    .display-f .right{
    
        width: 43%;
    }
}